@use 'variable' as *;
@use 'base/reset';
@use 'components/movie-card';

body {
    background-color: $primary-color;
    color: $text-light;
    font-family: arial;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}