body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: rgb(77, 88, 161)
}

header {
    background-color: green;
    color: cyan;
    padding: 1rem;
    margin-bottom: 2rem;
}

header a {
    background-color: magenta;
    color: black;
    padding: 0.5rem 1rem;
    font-family:'Times New Roman', Times, serif;
}