<include('partials/header')>

<section class="about-content">
    <h2>Hvað er ég að gera við lífið mitt?</h2>
    <p>I like to kill a family of four or five by driving over them.</p>
</section>

<include('partials/footer')>