<%- include('partials/header') %>

<section class="intro">
    <p>For gods sake of Humanity, he won't be saving no one, because of me.</p>
    <p>Ef þú last efri partinn þá hef ég staðsetningunna þínna, þanning að ég veit hvar þú átt heima.</p>
</section>

<%- include('partials/footer') %>