<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | Kill for Humanity</title>
    <link rel="stylesheet" href="/css/gay.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Killing is good</a>
            <a href="/about">Um mig</a>
        </nav>
        <h1><%- title %></h1>
    </header>
</body>
</html>