@use '../variable' as *;

.movie-card {
    background-color: lighten($primary-color, 10%);
    padding: $spacing;
    border-radius: 8px;


    img {
        width: 99%;
        border-radius: 4px;
        object-fit: cover;
    }

    h3 {
        margin-top: 0.5rem;
        color: $accent-color;
    }

    .btn {
        display: inline-block;
        background-color: $accent-color;
        color:rgb(45, 147, 163);
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 4px;
        margin-top: 1rem;

        &:hover {
            opacity:0.8;
        }
    }
}